asgiref==3.2.7
beautifulsoup4==4.9.0
Django==3.0.5
django-appconf==1.0.4
django-cleanup==4.0.0
django-crispy-forms==1.9.0
django-fresh==1.0.5
django-htmlmin==0.11.0
django-imagekit==4.0.2
html5lib==1.0.1
pathtools==0.1.2
pilkit==2.0
Pillow==7.1.2
pytz==2020.1
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
watchdog==0.10.2
webencodings==0.5.1
