{%extends 'base.html'%}
{% load static %}
{% block content %}
<p class="text-center h1 text-danger my-5 h2" style="font-weight: 900;">You are not an authenticated user !!</p>
<p class=" text-center">You may need to <strong>log in</strong> or <strong>sign up</strong> beforehand to access the
    content.</p>
<p class=" text-center">You can do so by visiting our <a href="/" class="text-primary"
        style="text-decoration: none;">Home page</a> and thereby relish having access to every feature!</p>
{% endblock %}